/* ======================================
 * ! Notifications
 * ====================================== */

// links
.url-highlighter {
    link-color: $text-link;
}

#notification {
    border-image: url("img/containers/popup.svg") 7;
    padding: 1.3em;
    spacing-rows: .2em;
    spacing-columns: 10px;
    width: 34em;
    margin-from-right-edge-of-screen: 6px;
    font-weight: bold;
    font-size: $font-size-lg;
    color: $text-primary;

    CinnamonGenericContainer * {
        font-weight: normal;
        font-size: $font-size-base;
        color: $text-secondary;

        &:first-child {
            font-weight: bold;
            font-size: $font-size-lg;
            padding: .3em 0;
            color: $text-primary;
        }

        &:last-child {
            padding: .4em 0;
            color: $text-primary;
        }
    }

    &-body {
        font-weight: normal;
        font-size: $font-size-base;
        padding: .5em 0;
    }

    &-actions {
        spacing: .3em;
    }

    // min-height hack to prevent image stretching
    &.notification-with-image {
        min-height: 164px;

        .popup-menu-content & {
            min-height: 178px;
        }

        #notification-body {
            padding: 0;
        }
    }
}

.notification-button,
.notification-icon-button {
    @include btn-primary;
}

.notification-button {
    @include btn-width(wide);
}

.notification-icon-button {
    @include btn-width(small);
}

/* ======================================
 * ! Notification applet
 * ====================================== */

.notification-applet-padding {
    padding: .6em .8em;

    &:first-child {
        padding-top: 1.3em;
    }

    &:last-child {
        padding-bottom: .8em;
    }
}

/* Notifs look inside the notification applet & other popups. */
.popup-menu-content {
    #notification {
        border-image: url("img/containers/light-bg-marked-orange.svg") 7;
        padding: .8em .8em .6em 1em;

        &.multi-line-notification {
            border-image: url("img/containers/light-bg-marked-blue.svg") 7;
        }

        &.notification-with-image {
            border-image: url("img/containers/light-bg-marked-green.svg") 7;
            padding-bottom: .8em;
        }
    }
}
